.main {
   background: #222;
   color: rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   text-align: center;
   width: 100%;
}
.main h2 {
   margin-top: 2rem;
}
.main p {
   color:#9b9b9b;
   display: flex;
   font-weight: 600;
   margin-left: 2rem;
   margin-right: 2rem;
   margin-top: 1rem;
   text-align: left;
}
.copyright {
   font-size: 12px;
   margin-top: 1.5rem;
   opacity: 0.5;
}

@media (min-width: 1400px) {
   .main p {
      margin-left: 12rem;
      margin-right: 12rem;
      text-align: center;
   }
}