.main {
   background: #222;
   color: rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
   font-family: 'Open Sans', sans-serif;
   justify-content: center;
   height: 100%;
   text-align: center;
   width: 100%;
}
.main h2 {
   margin-top: 2rem;
}
.main p {
   color:#9b9b9b;
   display: flex;
   font-weight: 600;
   margin-left: 2rem;
   margin-right: 2rem;
   margin-top: 1rem;
   margin-bottom: 2rem;
}
.veiculos_estoque {
   align-items: center;
   background: #222;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}
.home_estoque {
   align-items: center;
   background: #222;
   border-top: 2px solid white;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}
.home_estoque h5 {
   color: gold;
   font-size: 25px;
   font-family: 'Orbitron', sans-serif;
   font-weight: 900;
   margin-bottom: 2rem;
   margin-top: 2rem;
}
.depoiments {
   align-items: center;
   background: #222;
   border-top: 2px solid white;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}
.depoiments h5 {
   color: rgb(0, 191, 224);
   display: flex;
   font-size: 25px;
   font-weight: 900;
   margin-bottom: 2rem;
   margin-top: 2rem;
}

@media (min-width: 500px){
   .veiculos_estoque {
      display: grid;
      grid-template-columns: 250px 250px;
   }
   .depoiment_card {
      display: grid;
      grid-template-columns: 250px 250px;
      justify-items: center;
   }
   .veiculos_estoque img {
      height: 200px;
   }
   .card-body {
      height: 150px;
   }
}
@media (min-width: 1400px) {
   .main p {
      margin-left: 12rem;
      margin-right: 12rem;
      text-align: center;
   }
   .depoiment_card {
      display: grid;
      grid-template-columns: 250px 250px;
      justify-items: center;
   }
   .depoiment_card img {
      height: 170px;
      width: 200px;
   }
}