.NavBar {
   background: rgb(27, 27, 27);
   font-family: 'Orbitron', sans-serif;
   justify-content: space-between;
}
.nav_content {
   display: flex;
   flex-direction: column;
   text-align: center;
}
.title_nav {
   align-items: center;
   color: gold;
   font-size: 28px;
   display: flex;
   font-weight: 900;
}
.subtitle_nav {
   color: rgb(168, 0, 0);
   font-family: 'Orbitron', sans-serif;
   font-size: 12px;
   font-weight: bold;
}
.NavBar a {
   display: flex;
   color: rgb(223, 223, 223);
   font-size: 20px;
   font-weight: 700;
   margin-top: 1rem;
   margin-bottom: 1rem;
   opacity: 0.5;
   text-decoration: none;
   transition: 0.5s;
}
.NavBar a:hover {
   opacity: 1;
}
.NavBar img {
   width: 75px;
}
.NavBar button {
   background-color: rgb(202, 202, 202);
   border-radius: 10px;
   opacity: 0.7;
}
.NavBar button:active {
   opacity: 1;
}



@media (min-width: 992px) {
   .NavBar img {
      margin-right: 3rem;
      width: 90px;
   }
   .title_nav {
      font-size: 35px;
   }
   .subtitle_nav {
      font-size: 13px;
   }
   .NavBar a {
      padding-left: 3rem;
      margin: 0 auto;
   }
}
